<!DOCTYPE html>
<html lang="en">

<%- include ('partials/Head') %>

    <body>
        <%- include ('partials/Header') %>
            <main>
                
                    <div class="detail">
                        <h2>DETALLES DE PRODUCTO</h2>
                        <div class="articulo">
                            <article>
                                <% product.forEach(p=> {%>
                                <img src="https://github.com/FacundoOR/Rosas-ERE/blob/main/WEB/BARRA.jpg?raw=true"
                                    alt="barra" width="200px" height="300px">
                                    <p>
                                        <%- p.descripcion %>
                                    </p>
                                    <p> $ <%- p.precio %>
                                    </p>

                                <a href="../carrito">
                                    <button>COMPRAR</button>
                                </a>
                                <% })%> 
                            </article>
                        </div>
                    </div>
                    
            </main>
            <%- include ('partials/Footer') %>

    </body>

</html>