<!DOCTYPE html>
<html lang="en">

<%- include ('partials/Head') %>

    <body>
        <%- include ('partials/Header') %>
            <main>
                <div class="banner">
                    <img src="https://github.com/FacundoOR/Rosas-ERE/blob/main/WEB/Imagen3.png?raw=true" alt="logo">
                    <h1>ERE</h1>
                    <h1>100% NATURAL</h1>
                </div>
                <div class="product">
                    <h2>PRODUCTOS</h2>
                    <div class="grilla">
                        <div class="articulos">
                            <article>
                                <% products.forEach(p=> {%>
                                    <img src="https://github.com/FacundoOR/Rosas-ERE/blob/main/WEB/BARRA.jpg?raw=true"
                                        alt="barra" width="80px" height="90px">
                                    <p>
                                        <%- p.descripcion %>
                                    </p>
                                    <p>$ <%- p.precio %>
                                    </p>
                                    <a href="./detalle-producto/<%- p.id %> ">
                                        <button>Ver más</button>
                                    </a>
                                    <% })%>
                            </article>


                        </div>
                    </div>
                </div>
                <div class="nosotros">
                    <h2>NOSOTROS</h2>
                    <div class="pos">
                        <div class="par">
                            <p>Somos ERE barras de cereal, un snack saludable creado por nutricionistas. Tenemos el
                                equilibrio
                                justo
                                entre lo rico, nutritivo y casero. Nuestros productos están desarrollados con
                                ingredientes
                                naturales,
                                sin conservantes ni azúcares agregados, para llenarte de energía.Tenemos cinco
                                variedades de
                                barras
                                para
                                que elijas la que mejor se adapte a tu gusto y a tu rutina. Clásicas, Semillas,
                                Coco,
                                Chocolate
                                y
                                Limón.
                            </p>
                        </div>
                        <div class="barrin">
                            <img src="https://github.com/FacundoOR/Rosas-ERE/blob/main/WEB/Imagen1.png?raw=true" alt=""
                                width="170" height="150">
                        </div>
                    </div>
            </main>
            <%- include ('partials/Footer') %>

    </body>

</html>